db.sqlite3
media/
siloam/static/
venv/


backend/.env
backend/__pycache__
department/__pycache__
scanbarcode/__pycache__
siloam/__pycache__
user/__pycache__

department/migrations/*
!department/migrations/__init__.py

scanbarcode/migrations/*
!scanbarcode/migrations/__init__.py

siloam/migrations/*
!siloam/migrations/__init__.py

user/migrations/*
!user/migrations/__init__.py
__pycache__/
tmp/