{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatibible" content="IE=edge">
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
    <title>Layers of Truth | Unvieling christ, Communicating Eternal Life</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/jpg" href="{% static 'home/assets/imgs/LOT 3D GOLD.png'%}" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='keywords' content='Layers Of Truth, Soul center, Church in kaduna, Farin gida'>
    <meta name='description' content='At layers of truth, we are on a journey into God and  arecommited to opening the eyes of men, turnnig them from darkness to light and from the power of satan unto God by the the power of the word.    '>
    <meta name='subject' content=' Layers Of Truth - Unveiling Christ, Communicating Eternal Life'>
    <meta name='copyright' content='Layers Of Truth'>
    <meta name='language' content='En'>
    <meta name='topic' content='THE INCORRUPTIBLE'>
    <meta name='summary' content='At layers of truth, we are on a journey into God and  arecommited to opening the eyes of men, turnnig them from darkness to light and from the power of satan unto God by the the power of the word
    '>
    <meta name='Classification' content='Communicating Eternal Life'>
    <meta name='author' content='john okojere, johnokojere08@gmail.com'>
    <meta name='designer' content='convenant Ayomikun, Esiset'>
    <meta name='url' content='https://www.layersoftruth.org/'>
    <meta name='identifier-URL' content='https://www.layersoftruth.org/'>
    <meta name='category' content='conference'>
    <meta name=' coverage' content='Worldwide'>
    <meta name='distribution' content='Global'>
    <meta name='rating' content='General'>
    <meta name='revisit-after' content='7 days'>
    <meta name='subtitle' content='THE INCORRUPTIBLE'>

    <meta name='og:title' content='Homepage | Layers Of Truth - Unveiling Christ, Communicating Eternal Life'>
    <meta name='og:type' content='THE INCORRUPTIBLE'>
    <meta name='og:url' content='https://www.layersoftruth.org/'>
    <meta name='og:image' content="{% static 'home/assets/imgs/LOT 3D GOLD.png' %}">
    <meta name='og:site_name ' content=' Layers Of Truth '>
    <meta name='og:description ' content='At layers of truth, we are on a journey into God and arecommited to opening the eyes of men, turnnig them from darkness to light and from the power of satan unto God by the the power of the word . '>

    <style>
        .welcome_text {
            margin-top: 2rem;
        }
    </style>
</head>

<body>
    <section class="home_page">
        <div style="height: 100%; width: 100%;background: rgba(0, 0, 0, 0.458);">
            <header class="header">
                <nav class="container">
                    <a href="/">
                        <div class="main_logo" style="background: url( {% static 'assets/white logo.png' %}); "></div>
                    </a>
                    <div class="nav_items">
                        <h1 class="menu_bar">
                            <a href="#" id="menu_bar"><i class="fa fa-bars" style="color: white;"></i></a>
                        </h1>
                        <div class="menu_list" id="menu_list">
                            <h1 class="menu_bar">
                                <a href="#" style="margin: 2rem;position: absolute;top: 4px;right: 5px;" id="close_menu_bar"><i class="fa fa-times" style="color: white;"></i></a>
                            </h1>
                            <ul>
                                <li> <a href="/" class="menu_link active-nav">HOME</a></li>
                                <li> <a href="#media" class="menu_link">MEDIA & RESOURCES</a> </li>
                                <li> <a href="/service/" class="menu_link">SILOAM 2023</a></li>
                                <li> <a href="{% url 'about' %}" class="menu_link">ABOUT US</a></li>
                                {% if user.is_authenticated %}
                                <li> <a href="{% url 'profile' %}" class="menu_link btn">PROFILE</a></li>
                                {% else %}
                                <li> <a href="{% url 'login' %}" class="menu_link btn">LOGIN</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="main_text">
                <h1>THE UNFOLDING OF THE WORD GIVETH LIGHT AND UNDERSTANDING <br> TO THE SIMPLE HEARTED</h1> <br>
                <a class="btn" href="{% url 'about' %}">KNOW  MORE</a></div>

        </div>

    </section>

    <section class="welcome_text">
        <h1 class="sub_heading">
            <div class="rect"></div><span>Welcome To Church</span>
            <div class="rect"></div>
        </h1>
        <style>
            @media screen and (max-width: 760px) {
                .phone {
                    display: contents !important;
                    padding: 20px;
                    align-items: center;
                    text-align-last: center;
                }
                .phone p {
                    text-align-last: center;
                }
                iframe {
                    width: 100% !important;
                }
                section {
                    border-top: 1px solid rgba(0, 0, 0, 0.4);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
                    padding-bottom: 20px !important;
                }
                .welcome_text {
                    margin-top: 0;
                }
            }
        </style>
        <div class="phone" style=" padding:5%; display: grid;grid-template-columns: 49% 49%;grid-gap: 2%;" class="gallery_text">
            <iframe style="width: 500px; height: 300px;    place-self: center" src="https://www.youtube.com/embed/UORl8GuRRjs?autoplay=1" allow="autoplay"></iframe>
            <div>


                <p class="phone" style="text-align: left;">At layers of truth, men are encouraged to act on the truth and are showed how God's life manifests itself layer by layer in the gathering of the saints, particularly in the household of faith, in the brethren life, and amidst the brethren
                    <br> <br>
                    <a class="btn" href="https://mixlr.com/layersoftruth">CONNECT LIVE</a>
                </p>
            </div>
        </div>


    </section>

    <section class="welcome_text wwb" style="background-color: black;color: white;padding: 10%;">

        <h1 class="sub_heading">
            <div class="rect"></div><span> WHAT WE BELIEVE</span>
            <div class="rect"></div>
        </h1>
        <br>
        <div class="believe_body " style="text-align:left">
            <div class="believe_text ">
                <span class="special_heading">THE CHURCH</span>
                <p class="believe_paragraph"> <br> The church is the body of Christ, the habitation of God through the Spirit with divine appointments for the fulfillment of the great commission. Each believer, born of the Spirit, is an integral part of the church of the firstborn,
                    which are written in heaven (Ephesians 1:22-23; 2:22; Hebrews 12:33).</p>
            </div>

            <div class="believe_text ">
                <span class="special_heading">THE GOD HEAD</span>
                <p class="believe_paragraph">
                    <br> The one true God who has revealed Himself by His Son Jesus Christ the mediator between God and mankind. God became manifest in the flesh for the redemption of mankind and righteouness for his people.Through his spirit. (Deuteronomy
                    6:4; Isaiah 43:10, 11; Matthew 28:19; Acts).
            </div>

    </section>

    <section class="welcome_text our_ministry">
        <h1 class="sub_heading">
            <div class="rect"></div> <span>WEEKLY SERVICES</span>
            <div class="rect"></div>
        </h1>
        <div class=" believe_body services phone" style="padding: 5%; display: grid;grid-template-columns: 33% 33% 33%;grid-gap: 1%;">
            <div class=" om sunday_service">
                <div style="height: 200px;width: 100%;background: url({% static 'assets/communion.png' %});background-position: center;background-size: cover;border-radius: 10px;" alt="communion"></div>

                <p><span class="special_heading">Sunday Service</span>
                    <br> It is a time of indepth teaching of God's word, manifestation of the spirit and breaking of bread with the saint.
                    <br>
                    <span class="service_time">Every Sunday 8:00am</span>
                </p>


            </div>

            <div class="om rev_hour">
                <div style="height: 200px;width: 100%;background: url({% static 'assets/rev_hour.png' %});background-position: center;background-size: cover;border-radius: 10px;" alt="communion"></div>
                <p> <span class="special_heading">Wednesday Service</span>
                    <br> A time for the unveiling of jesus christ and communicating eternal life through indepth study of scriptures.

                    <br>
                    <span class="service_time">Every Wednesday 6:00pm</span>
                </p>
            </div>

            <div class="om VOP">
                <div style="height: 200px;width: 100%;background: url({% static 'assets/vop.png' %});background-position: center;background-size: cover;border-radius: 10px;" alt="communion"></div>
                <p> <span class="special_heading">Midnight Cry</span>
                    <br> It is a time of excersing oneself in effectual, fervent prayer that makes tremendous power available, dynamic in his working (james5;16)
                    <br>
                    <span class="service_time">Every Friday 8:00pm</span>
                </p>

            </div>

        </div>

    </section>

    <section class="welcome_text kiddies">
        <div class="title">

            <h1 class="sub_heading">
                <div class="rect"></div><span>KIDDIES</span>
                <div class="rect"></div>
            </h1>

        </div>

        <div class="believe_body kiddies_content gallery_text">
            <img class="om" src="{% static 'assets/kiddies.png' %}" alt=" " style="max-width: 400px; ">

            <div class="phone" style="text-align-last: left;">

                <p style="text-align: left; padding: 20px !important;">
                    <strong>ENCOUNTERING JESUS WITH THE NEXT GENERATION</strong> <br> Bring your child inorder for them to paticipate in eternal life conversation; that they me grow thereby.

                </p>

                <a href="#" class="btn " style="text-align-last: center;"> Coming Soon </a>
            </div>
        </div>

    </section>

    <section class="welcome_text pastors_gallery ">
        <div class="title ">
            <div class="line1 "></div>
            <h1 class="sub_heading ">
                <div class="rect "></div> <span>MEET OUR PASTORS</span>
                <div class="rect "></div>
            </h1>
            <div class="line2 "></div>
        </div>

        <div class="gallery_text phone ">Assisting our head steward in administrating and ministring, is a team of faithful steward who labour night and day in word,prayer and caring for the church.
            </p>
        </div>
        <div class="gallery gallery_text ">
            <img style="margin:5px" src="{% static 'assets/residency.png' %}" alt=" ">
            <img style="margin:5px" src="{% static 'assets/p2.png' %}" alt=" ">
            <img style="margin:5px" src="{% static 'assets/p3.png' %}" alt=" ">
            <img style="margin:5px" src="{% static 'assets/p4.png' %}" alt=" ">
            <img style="margin:5px" src="{% static 'assets/p5.png' %}" alt=" ">
            <img style="margin:5px" src="{% static 'assets/p6.png' %}" alt=" ">
        </div>
        <div class="gallery_btns ">
            <a href="https://t.me/+25s9rZswn4A0ZWRk" class="msg ">LISTEN TO MESSAGES</a>
            <a href="https://youtube.com/@layersoftruth_ng" class="vid ">WATCH OUR VIDEOS</a>
        </div>
    </section>

    <section class="b join_us gallery_text our_teachings phone" style="padding: 2rem;">
        <iframe width="100%" height="500" style="max-width: 800px;place-self: center;" src="https://www.youtube.com/embed/TePHiOboK_g" title="AN ONLINE BIBLE STUDY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
        <div style="    text-align: left;">
            <h3 style="margin:10px 0;">Previous teaching</h3>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/5WkQfVCIkAc" title="THE TRUE GRACE OF GOD | PST DOYIN AKERELE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/MefxSHsrYvA" title="THE TRUE GRACE OF GOD [2] | PST DOYIN AKERELE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </section>

    <section class="payer_request_form ">
        <form method="POST" action="{% url 'addprayer' %}" class="form ">
            <div class="title ">
                <div class="line1 "></div>
                <h1 class="sub_heading ">DO YOU NEED PRAYERS?
                </h1>
                <div class="line2 "></div>
            </div>
            {% for message in messages %}
            <div class="alert alert-success" style="padding: 10px;max-width: 350px;">{{message}}</div> {% endfor %} {% csrf_token %}
            <div class="form_top ">
                <div class="row1 ">
                    <label for="first_name ">First name</label>
                    <input clas type="text " name="prayer_first_name" id="Fname ">
                </div>
                <div class="row1 ">
                    <label for="last_name ">Last name</label>
                    <input type="text " name="prayer_last_name" id="Lname ">
                </div>

                <div class="row1 ">
                    <label for="email ">Email</label>
                    <input type="email " name="prayer_email" id="email ">
                </div>
                <div class="row1 ">
                    <label for="phone ">Phone Number</label>
                    <input type="tel " name="prayer_phone" id="phone ">
                </div>
            </div>
            <div class="row1 prayer_request ">
                <label for="prayer ">Prayer Request</label>
                <br>
                <input class="request" type="text" name="prayer_request">

            </div>
            <div style="align-items: center;text-align-last: center;">
                <button class=" submit ">SUBMIT</button>

            </div>

        </form>
    </section>

    <hr>

    <section class="links ">


        <div class="about_us_footer ">
            <h4>ABOUT US</h4>
            <p>At layers of truth, we are on a journey into God and are commited to opening the eyes of men, turning them from darkness to light and from the power of satan unto God by the the power of the word.
            </p>

        </div>

        <div class="sub_link ">



            <div class="main_menu_footer ">
                <h4>MAIN MENU</h4>

                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="{% url 'about' %}">ABOUT US</a></li>
                    <li>
                        <a href="{% url 'media' %}">MEDIA & RESOURCES</a>
                    </li>

                    <li><a href="{% url 'siloam' %} ">SILOAM 2023</a></li>
                </ul>
            </div>


            <div class="other_footer_links ">
                <h4>OTHERS</h4>

                <ul>
                    <li><a href="#messages ">Messages</a></li>
                    <li><a href="#videos ">Videos</a></li>
                    <li><a href="#gallary ">Gallery</a></li>

                </ul>
            </div>


        </div>


        <div class="other_details ">
            <div class="horizontal "></div>
            <div>
                <svg width="16 " height="20 " viewBox="0 0 16 20 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                    <path d="M8 10C8.55 10 9.021 9.804 9.413 9.412C9.805 9.02 10.0007 8.54933 10 8C10 7.45 9.804 6.979 9.412 6.587C9.02 6.195 8.54933 5.99933 8 6C7.45 6 6.979 6.196 6.587 6.588C6.195 6.98 5.99933 7.45067 6 8C6 8.55 6.196 9.021 6.588
                9.413C6.98 9.805 7.45067 10.0007 8 10ZM8 17.35C10.0333 15.4833 11.5417 13.7873 12.525 12.262C13.5083 10.7367 14 9.38267 14 8.2C14 6.38333 13.4207 4.896 12.262 3.738C11.1033 2.58 9.68267 2.00067 8 2C6.31667 2 4.89567 2.57933 3.737 3.738C2.57833
                4.89667 1.99933 6.384 2 8.2C2 9.38333 2.49167 10.7377 3.475 12.263C4.45833 13.7883 5.96667 15.484 8 17.35ZM8 20C5.31667 17.7167 3.31267 15.596 1.988 13.638C0.663333 11.68 0.000666667 9.86733 0 8.2C0 5.7 0.804333 3.70833 2.413 2.225C4.02167
                0.741667 5.884 0 8 0C10.1167 0 11.9793 0.741667 13.588 2.225C15.1967 3.70833 16.0007 5.7 16 8.2C16 9.86667 15.3373 11.6793 14.012 13.638C12.6867 15.5967 10.6827 17.7173 8 20Z " fill="#986F32 "/>
                    </svg>

                <p>
                    Along Mothercat Road,<br> Farin-gida Mando. Kaduna Nigeria.
                </p>

                <br>

                <svg width="20 " height="16 " viewBox="0 0 20 16 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                    <path d="M2 16C1.45 16 0.979002 15.804 0.587002 15.412C0.195002 15.02 -0.000664969 14.5493 1.69779e-06 14V2C1.69779e-06 1.45 0.196002 0.979002 0.588002 0.587002C0.980002 0.195002 1.45067 -0.000664969 2 1.69779e-06H18C18.55 1.69779e-06
                19.021 0.196001 19.413 0.588001C19.805 0.980001 20.0007 1.45067 20 2V14C20 14.55 19.804 15.021 19.412 15.413C19.02 15.805 18.5493 16.0007 18 16H2ZM10 9L2 4V14H18V4L10 9ZM10 7L18 2H2L10 7ZM2 4V2V14V4Z " fill="#986F32 "/>
                    </svg>

                <p>layersoftruthkd@gmail.com</p>

                <br>
                <br>
                <svg width="18 " height="18 " viewBox="0 0 18 18 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                    <path d="M1.05 18C0.883334 18 0.708333 17.9957 0.525 17.987C0.341667 17.9783 0.166667 17.966 0 17.95V12.1L5 11.1L7.9 14C9.16667 13.2333 10.3293 12.325 11.388 11.275C12.4467 10.225 13.3257 9.1 14.025 7.9L11.175 5.025L12.1 0H17.95C17.9833
                0.166667 18 0.341667 18 0.525V1.05C18 3.2 17.521 5.296 16.563 7.338C15.605 9.38 14.3383 11.1923 12.763 12.775C11.1877 14.3583 9.37933 15.625 7.338 16.575C5.29667 17.525 3.20067 18 1.05 18ZM14.975 6C15.2583 5.35 15.475 4.69167 15.625 4.025C15.775
                3.35833 15.8917 2.68333 15.975 2H13.75L13.325 4.35L14.975 6ZM6.025 14.95L4.35 13.275L2 13.75V15.95C2.68333 15.9 3.36267 15.7917 4.038 15.625C4.71333 15.4583 5.37567 15.2333 6.025 14.95Z " fill="#986F32 "/>
                    </svg>

                <p>+234(0) 817 052 6942</p>
            </div>
        </div>

        <div class="line "></div>
    </section>
    <hr>
    <footer>


        <div class="logo ">

            <img src="{% static 'assets/LOT 3D GOLD 1.png' %}" alt=" ">

            <img src="{% static 'assets/© LayerOfTruth2023.png' %}" alt=" " height="17 ">

        </div>


        <div class="socails " style="display: flex;width: 150px;justify-content: space-between; ">
            <div class="socials_icon ">
                <a href="https://web.facebook.com/layersoftruthng/"><img src="{% static 'assets/fb.png' %}" alt=" "></a>
            </div>
            <div class="socials_icon ">
                <a href="https://twitter.com/layers_of_truth"> <img src="{% static 'assets/twit.png' %} " alt=" "></a>
            </div>


            <div class="socials_icon ">
                <a href="https://www.instagram.com/layersoftruth_ng"><img src="{% static 'assets/teleg.png' %} " alt=" "></a>
            </div>
            <!-- <img src=" " alt=" "> -->
        </div>
    </footer>
    <script>
        const bar = document.getElementById('menu_bar');
        const list = document.getElementById('menu_list');
        const close = document.getElementById('close_menu_bar');
        bar.addEventListener('click', () => {
            list.style.display = "block";
        });
        close.addEventListener('click', () => {
            list.style.display = "none";
        });
    </script>
</body> });
</script>
</body>