 {% extends "base.html" %}{% load static %} {% block main %}
<link rel="stylesheet" href="https://unpkg.com/bootstrap@4/dist/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'cropper.css' %}">
<link rel="stylesheet" href="{% static 'user/form.css' %}">

<style>
    body{
        min-height: 100vh;
    }
    .label {
        cursor: pointer;
    }
    
    .progress {
        display: none;
        margin-bottom: 1rem;
    }
    
    .alert {
        display: none;
    }
    
    .img-container img {
        max-width: 100%;
    }
    
    nav {
        padding-top: 2rem;
        padding-bottom: 0;
    }
    
    header {
        background: black;
    }
    
    body {
        background-color: black;
        color: white;
    }
    
    main {
        margin: 30px 10px;
        height: 40vh;
    }
</style>
<div class="container">
    <form method="post" class="SignUpFormInput" enctype="multipart/form-data" style="max-width: 500px;margin:20vh auto;">
        <div class=" text-center">
            <h2>Add a Profile Picture to your Layers Of Truth Account</h2>
            <img src="" alt="" id="avatar">
            <br>
        </div>{% csrf_token %} {{form}}
        <div class="btn-LogInAccount"><button type="submit" class="btnLOgIN2 active"> Upload Profile</button></div>

    </form>

</div>
<script src="https://unpkg.com/jquery@3/dist/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap@4/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
 {% endblock main %}