{% extends "base.html" %} {% load static %} {% block main %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css" integrity="sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.min.css" integrity="sha512-G/T7HQJXSeNV7mKMXeJKlYNJ0jrs8RsWzYG7rVACye+qrcUhEAYKYzaa+VFy6eFzM2+/JT1Q+eqBbZFSHmJQew==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/regular.min.css" integrity="sha512-k2UAKyvfA7Xd/6FrOv5SG4Qr9h4p2oaeshXF99WO3zIpCsgTJ3YZELDK0gHdlJE5ls+Mbd5HL50b458z3meB/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/solid.min.css" integrity="sha512-6mc0R607di/biCutMUtU9K7NtNewiGQzrvWX4bWTeqmljZdJrwYvKJtnhgR+Ryvj+NRJ8+NnnCM/biGqMe/iRA==" crossorigin="anonymous" referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="{% static 'user/profile.css' %}">
<div class="container">

    <div class="d-block">
        <div class="containDashBoard">
            <div class="profileDashBoard">
                <div class="d-flex">

                    <div>
                        <i class="fa fa-user-circle" aria-hidden="true"></i>

                    </div>
                    <div>
                        <h2> {{user.role |title}} Dashboard </h2>
                        <p>here is your overview</p>
                        {% if messages %} {% for message in messages %}
                        <div class="alert alert-success">{{message}}</div> {% endfor %}{% endif %}
                    </div>
                </div>
                <br>
                <div class="containMenu">
                    <div>
                        User Name: {{user.username | title}}
                    </div>
                    <div>
                        First Name: {{user.first_name | title}}
                    </div>
                    <div>
                        Last Name: {{user.last_name | title}}
                    </div>
                    <div>
                        phone: {{user.phone | title}}
                    </div>
                    <div>
                        Role: {{user.role | title}}
                    </div>
                    <div>
                        Email: {{user.email | title}}
                    </div>
                </div>
            </div>
        </div>

        <div class="containMenu">
            {% if request.user.role == "ADMIN" %}

            <div class="menus">
                <a href="{% url 'members' %}">
                    <div>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h3>Members</h3>
                    </div>

                    <div>
                        <p><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>
            </div>
            <div class="menus">
                <a href="{% url 'listofPastors' %}">
                    <div>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h3>Pastors</h3>
                    </div>

                    <div>
                        <p><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>
            </div>
            {% endif %} {% if request.user.role == "ADMIN" or request.user.role == "HOD" %}
            <div class="menus">
                <a href="{% url 'siloam-dashboard' %}">
                    <div>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <h3>Service</h3>
                    </div>

                    <div>
                        <p>
                            <a href="{% url 'siloam-dashboard' %}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </a>
            </div>
            {% endif %}{% if request.user.role == "ADMIN" or request.user.role == "HOD" or request.user.role == "HOU" %}
            <div class="menus">
                <a href="{% url 'department-dashboard' %}">
                    <div>
                        <i class="fa fa-archive" aria-hidden="true"></i>
                        <h3>Department</h3>
                    </div>
                    <div>
                        <p>
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        </p>
                    </div>
                </a>
            </div>
            {% endif %}  {% if request.user.role == "ADMIN" %}
            <div class="menus">
                <div>
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                    <h3>Workers</h3>
                </div>
                <div>
                    <p class="m-2">
                        <a href="{% url 'workerlist' %}" class=" btn btn-outline-warning">Approved List</a>
                    </p>
                    <p class="m-2">
                        <a href="{% url 'pendingworkerlist' %}" class=" btn btn-outline-warning" id="createattendace">Pennding List</a>
                    </p>
                </div>
            </div>
            {% endif %} {% if request.user.role == "ADMIN" or request.user.role == "HOD" %}
            <div class="menus">
                <div>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <h3>Souls</h3>
                </div>


                <div>
                    <div class="m-2">
                        <a href="{% url 'soulist' %}" class="btn btn-outline-warning">Contact</a>
                    </div>
                    <div class="m-2">
                        <a href="{% url 'soulprayer' %}" class="btn btn-outline-warning">Prayers</a>
                    </div>
                    <div class="m-2">
                        <a href="{% url 'soulmessage' %}" class="btn btn-outline-warning">Message</a>
                    </div>
                </div>
            </div>
            {% endif %} {% if request.user.worker %}
            <div class="menus text-center">
                {% if request.user.pastor %}
                <img src="{{request.user.pastor.qr_code}}" style="width: 100%;" alt=""><br>Pastor {% else %}
                <img src="{{request.user.worker.qr_code}}" style="width: 100%;" alt=""><br>Worker {% endif %}
            </div>
            {% endif %}
        </div>
    </div>


    <div class="sideOptions">

        <div class="settings">
            <div class="d-flex">
                <div class="settingsBar1">
                    <i class="fa fa-cog  cog2" aria-hidden="true"></i>

                </div>
                <div class="SettingsMenu">
                    <h2>Settings</h2>
                    <p>Manage activities </p>
                </div>
            </div>
            <ul class="list-group p-3">
                {% if request.user.worker %}

                <li class="list-group my-2 text-dark">

                    Department: {{request.user.worker.department}}
                </li>
                <li class="list-group my-2 text-dark">
                    Unit: {{request.user.worker.unit}}

                </li>
                {% if request.user.worker %}
                <li class="list-group my-2 text-dark">
                    <img src="{{request.user.profilepic.image.url}}" alt="">
                    <a href="{% url 'uploadpircture' %}" class="btn btn-outline-primary">Upload Profile Picture</a>
                </li>
                {% endif %} {% if request.user.worker.approved == True %} {% else %}
                <li class="list-group my-2 text-dark">
                    <a href="#" class="btn btn-outline-warning">Request to join a Department is processing</a>
                </li>

                {% endif %} {% else %}

                <li class="list-group my-2 text-dark">
                    <a href="{% url 'workers-form' %}" class="btn btn-outline-warning">Join a Department</a>
                </li>
                {% endif %}
                <li class="list-group my-2 text-dark">
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger">Log Out</a>
                </li>
            </ul>
        </div>



    </div>
</div>

</div>
{% endblock main %}