{% extends "base.html" %} {% load static %} {% block main %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    table {
        overflow-x: scroll;
        min-width: 100%;
        width: max-content;
    }
    
    td,
    th {
        padding: 0.5rem !important;
    }
    
    main.list.container {
        margin: 1.5rem auto !important;
    }
    
    footer {
        color: white;
    }
    
    .filter {
        height: 40px;
        border: none;
        padding: 0 1rem;
        background: goldenrod;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    select,
    input {
        height: 40px;
        margin: 0;
        padding: 0 1rem;
        border: none;
    }
    
    input[type="checkbox" i]:disabled {
        background-color: blue;
        color: brown;
    }
    
    @media screen and (max-width:860px) {
        div.title {
            display: block;
        }
    }
    
    .active a {
        background-color: goldenrod !important;
        border: 1px solid goldenrod !important;
    }
    
    tbody {
        min-height: 10vh;
    }
</style>
<p class="container mt-3">
    <a href="{% url 'profile' %}"><i class="fa fa-long-arrow-left text-light px-3" aria-hidden="true"></i></a>
    <a href="{% url 'profile' %}" class="text-light"> Main Dashboard</a>
    <span class="text-light px-2"> | </span>
    <a href="#" class="text-light border-bottom"> List</a>
</p>
<main class="list container">
    <link rel="stylesheet" href="{% static 'siloam/dashboard/attendance.css' %}">

    <div class="title">
        <div>
            <h1>Contacts Of souls that register online</h1>
        </div>
        
    </div>
    <div style="overflow-x: scroll;">
        <table>
            <thead class="table-head">
                <tr>
                    <th>S/N</th>
                    <th>Names</th>
                    <th>Contact</th>
                    <th>Date register</th>
                </tr>
            </thead>
            <tbody>
                {% for soul in souls %}
                <tr>
                    <td>{{soul.id}}</td>
                    <td>
                       {{soul.name}}
                    </td>
                    <td>
                        {{soul.phone}}
                     </td>
                    <td>
                        {{soul.create_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if attendance.has_other_pages %}
    <!-- Pagination -->
    <div class="row mt-3 text-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="pagination p-center text-black" style="place-content:center">
                {% if attendance.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{attendance.previous_page_number}}" aria-label="Previous">
                        <span class="">Previous</span>
                    </a>
                </li>
                {% endif %} {% for i in attendance.paginator.page_range %} {% if attendance.number == i %}
                <li class="page-item active text-white"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %} {% endfor %} {% if attendance.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{attendance.next_page_number}}" aria-label="Next">
                        <span class="">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
 
</main>
{% endblock main %}