{% extends "base.html" %} {% load static %} {% block main %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    table {
        overflow-x: scroll;
        min-width: 100%;
        width: max-content;
    }
    
    td,
    th {
        padding: 0.5rem !important;
    }
    
    main.list.container {
        margin: 1.5rem auto !important;
    }
    
    footer {
        color: white;
    }
    
    .filter {
        height: 40px;
        border: none;
        padding: 0 1rem;
        background: goldenrod;
        color: white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    select,
    input {
        height: 40px;
        margin: 0;
        padding: 0 1rem;
        border: none;
    }
    
    input[type="checkbox" i]:disabled {
        background-color: blue;
        color: brown;
    }
    
    @media screen and (max-width:860px) {
        div.title {
            display: block;
        }
    }
    
    .active a {
        background-color: goldenrod !important;
        border: 1px solid goldenrod !important;
    }
    
    tbody {
        min-height: 10vh;
    }
</style>
<p class="container mt-3 text-white">
    <a href="{% url 'siloam-dashboard' %}" class="text-white">Silaom Dashbord</a> /
    <a href="{% url 'siloam-attendance-list' %}" class="text-white">Attendance List</a>
</p>
<main class="list container">
    <link rel="stylesheet" href="{% static 'siloam/dashboard/attendance.css' %}">

    <div class="title">
        <div>
            <h1>Registered People for Siloam</h1>
        </div>
        <div style="background-color: white; border-radius:10px; display: grid;grid-template-columns: 70% 30%;margin-top: 1rem;">
            <input type="search" name="name" id="name_search" placeholder="Search"> {% csrf_token %}
            <button class="filter">Filter</button>
        </div>
    </div>
    <div style="overflow-x: scroll;">
        <table>
            <thead class="table-head">
                <tr>
                    <th>S/N</th>
                    <th>Names</th>
                    <th>Phone</th>
                    <th>Accommodation</th>
                    <th>Location</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for attendee in registered %}
                <tr>
                    <td>{{attendee.id}}</td>
                    <td>{{attendee.full_name}}</td>
                    <td>{{attendee.phone}}</td>
                    <td>{{ attendee.accomodation }}</td>
                    <td>{{ attendee.location }}</td>
                    <td>{{ attendee.created }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if attendance.has_other_pages %}
    <!-- Pagination -->
    <div class="row mt-3 text-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="pagination p-center text-black" style="place-content:center">
                {% if attendance.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{attendance.previous_page_number}}" aria-label="Previous">
                        <span class="">Previous</span>
                    </a>
                </li>
                {% endif %} {% for i in attendance.paginator.page_range %} {% if attendance.number == i %}
                <li class="page-item active text-white"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %} {% endfor %} {% if attendance.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{attendance.next_page_number}}" aria-label="Next">
                        <span class="">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    <script>
        const name = document.getElementById("name_search");
        console.log(name.value)
        name.addEventListener("input", () => {
            $.ajax({
                url: `/siloam2023/search-register/${name.value}`,
                method: 'POST',
                data: {
                    name: name.value,
                    csrfmiddlewaretoken: $('[name="csrfmiddlewaretoken"]').val()
                },
                success: function(data) {
                    $('tbody').empty()
                    if (data.error === undefined) {
                        const attendance = data
                        for (let i = 0; i < attendance.length; i++) {
                            const attendee = attendance[i]
                            console.log(attendee)
                            $('tbody').append(`
                             <tr>
                                <td>${attendee.id}</td>
                                <td>${attendee.name}</td>
                                <td>${attendee.phone}</td>
                                <td>${attendee.accomodation}</td>
                                <td>${attendee.location}</td>
                                <td>${attendee.date }</td>
                            </tr>
                            `);
                        }
                    } else {
                        $('tbody').append("<div class='m-3'>Empty</div>")

                    }

                },
                error: function(data) {
                    $('tbody').empty()
                    $('tbody').append("<div class='m-3'>Failed</div>")

                }
            })
        })
    </script>
</main>
{% endblock main %}